:root {
  --color-success: #10b981;
  --color-info: #4c8df6;
  --color-error: #ef4444;
  --color-action: #6d28d9;
  --color-egg: #ffcf00;
  --color-primary: #36474f;
  --color-secondary: #5b5b5b;
  --shadow: 0 10px 10px 0 #d3d3d369;
  --border-radius: 5px;
}

.toastNotification {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1em;
  border-radius: 5px;
  cursor: pointer;
  line-height: 2em;
  padding: 0 1em;
}

.success {
  background-color: var(--color-success);
}

.error {
  background-color: var(--color-error);
}
.info {
  background-color: var(--color-info);
}
